<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор</title>
</head>
<body>
    <h1>Калькулятор</h1>
    <form id="calculator-form">
        <input type="number" id="num1" placeholder="Number 1">
        <input type="number" id="num2" placeholder="Number 2">
        <select id="operation">
            <option value="add">Сложение</option>
            <option value="subtract">Вычитание</option>
            <option value="multiply">Умножение</option>
            <option value="divide">Деление</option>
        </select>
        <button type="submit">Посчитать</button>
    </form>
    <div id="result"></div>
    <script>
        const form = document.getElementById('calculator-form');
        const resultDiv = document.getElementById('result');
        
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const num1 = document.getElementById('num1').value;
            const num2 = document.getElementById('num2').value;
            const operation = document.getElementById('operation').value;

            const response = await fetch('/api/calculate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    num1: num1,
                    num2: num2,
                    operation: operation
                })
            });

            const data = await response.json();
            
            if (data.error) {
                resultDiv.textContent = data.error;
            } else{
                resultDiv.textContent = 'Результат: ' + data.result;
            }
        });
    </script>
</body>
</html>